.todolist_container {
  padding: 3rem;
  background-color: #fff;
  margin: auto;
  border-radius: 1rem;
  max-width: 50rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  .title {
    font-size: 3rem;
  }
}
